<!DOCTYPE html>
<html>
<head>
    <title>Todo List</title>
    <style>
        .completed { text-decoration: line-through; color: gray; }
    </style>
</head>
<body>
    <h1>My Todo List</h1>
    <a href="{% url 'todo_create' %}">Add New Todo</a>
    
    {% if todos %}
        <ul>
        {% for todo in todos %}
            <li class="{% if todo.completed %}completed{% endif %}">
                {{ todo.title }}
                {% if todo.description %}
                    - {{ todo.description }}
                {% endif %}
                {% if todo.due_date %}
                    (Due: {{ todo.due_date|date:"M d, Y" }})
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No todos yet!</p>
    {% endif %}
</body>
</html>